.main img{
    width: 100%;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
}

.modal .container{
    width: 404px;
    height: 512px;
    background: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 10px;
}
.modal .container .close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    text-align: center;
    line-height: 30px;
    color: #fff;
    position: absolute;
    border: 2px solid #fff;
    right: -15px;
    top: -15px;
    cursor: pointer;
}

